<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>by.epam.java.task1.logic.TetragonLogicTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>calculateAreaUsingTriangleAreaTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>calculateAreaUsingTriangleArea2Test</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>calculatePerimeterTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>calculateAreaUsingPointsTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isTetragonQuadratTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initTetragon</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
