<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fcd869">  <td>18/01/05 12:53:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TetragonLogicTest.calculateAreaUsingPointsTest()[pri:0, instance:by.epam.java.task1.logic.TetragonLogicTest@180da663]">calculateAreaUsingPointsTest</td> 
  <td>main@788905599</td>   <td></td> </tr>
<tr bgcolor="fcd869">  <td>18/01/05 12:53:47</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TetragonLogicTest.calculateAreaUsingTriangleArea2Test()[pri:0, instance:by.epam.java.task1.logic.TetragonLogicTest@180da663]">calculateAreaUsingTriangleArea2Test</td> 
  <td>main@788905599</td>   <td></td> </tr>
<tr bgcolor="fcd869">  <td>18/01/05 12:53:47</td>   <td>62</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TetragonLogicTest.calculateAreaUsingTriangleAreaTest()[pri:0, instance:by.epam.java.task1.logic.TetragonLogicTest@180da663]">calculateAreaUsingTriangleAreaTest</td> 
  <td>main@788905599</td>   <td></td> </tr>
<tr bgcolor="fcd869">  <td>18/01/05 12:53:47</td>   <td>81</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TetragonLogicTest.calculatePerimeterTest()[pri:0, instance:by.epam.java.task1.logic.TetragonLogicTest@180da663]">calculatePerimeterTest</td> 
  <td>main@788905599</td>   <td></td> </tr>
<tr bgcolor="fcd869">  <td>18/01/05 12:53:47</td>   <td>-24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TetragonLogicTest.initTetragon()[pri:0, instance:by.epam.java.task1.logic.TetragonLogicTest@180da663]">&gt;&gt;initTetragon</td> 
<td>&nbsp;</td>  <td>main@788905599</td>   <td></td> </tr>
<tr bgcolor="fcd869">  <td>18/01/05 12:53:47</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TetragonLogicTest.initTetragon()[pri:0, instance:by.epam.java.task1.logic.TetragonLogicTest@180da663]">&gt;&gt;initTetragon</td> 
<td>&nbsp;</td>  <td>main@788905599</td>   <td></td> </tr>
<tr bgcolor="fcd869">  <td>18/01/05 12:53:47</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TetragonLogicTest.initTetragon()[pri:0, instance:by.epam.java.task1.logic.TetragonLogicTest@180da663]">&gt;&gt;initTetragon</td> 
<td>&nbsp;</td>  <td>main@788905599</td>   <td></td> </tr>
<tr bgcolor="fcd869">  <td>18/01/05 12:53:47</td>   <td>80</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TetragonLogicTest.initTetragon()[pri:0, instance:by.epam.java.task1.logic.TetragonLogicTest@180da663]">&gt;&gt;initTetragon</td> 
<td>&nbsp;</td>  <td>main@788905599</td>   <td></td> </tr>
</table>
